 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{user.profileImage}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.firstName}} {{user.lastName}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget = "treeview" role="menu" data-accordion="false">
              
              {{!-- <li class="nav-item">
                <a href="/account/users" class="nav-link ">
                  <i class="nav-icon far fa-calendar-alt"></i>
                  <p>All Users</p>
                </a>
              </li> --}}
              <li class="nav-item">
                <a href="/user/edit/{{user._id}}" class="nav-link ">
                  <i class="fas fa-edit nav-icon"></i>
                  <p>Edit Profile</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/user/edit/password/{{user._id}}" class="nav-link ">
                  <i class="fas fa-tree nav-icon"></i>
                  <p>Change passWord</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/logout" class="nav-link ">
                  <i class="fas fa-tree nav-icon"></i>
                  <p>Log out</p>
                </a>
              </li>
              </ul>
          
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>